In [2]:
import pandas as pd
import numpy as np

#### Taux de pauvreté

In [5]:
data_poverty = pd.read_excel('Data/revenu.xlsx', 'DEP')

In [6]:
data_poverty = data_poverty.iloc[5:, :]

In [7]:
data_poverty = data_poverty.iloc[:, [0, 1, 6]]

In [8]:
data_poverty.columns = ['Code', 'Département', 'Taux de pauvreté']

In [9]:
plus_pauvre = data_poverty.iloc[:, 2].min()
plus_riche = data_poverty.iloc[:, 2].max()

In [10]:
data_poverty.sort_values(by='Taux de pauvreté')

    Code        Département Taux de pauvreté
79    74       Haute-Savoie              9.1
90    85             Vendée              9.3
83    78           Yvelines              9.4
78    73             Savoie              9.8
49    44   Loire-Atlantique             10.1
..   ...                ...              ...
34    2B        Haute-Corse             20.6
15    11               Aude             20.8
98    93  Seine-Saint-Denis             27.9
101  972         Martinique             28.6
102  974         La Réunion             38.3

[98 rows x 3 columns]

In [11]:
data_poverty.dtypes

Code                object
Département         object
Taux de pauvreté    object
dtype: object

In [2]:
pauvrete = data_poverty.iloc[:, 2]
pauvrete.mean()

NameError: name 'data_poverty' is not defined

In [54]:
pauvrete.std()

4.094936911667957

In [55]:
pauvrete.median()

14.4

#### Taux de suicide

In [3]:
data_suicide = pd.read_csv('Data/taux-suicide.csv', sep=';')

In [4]:
data_suicide = data_suicide[2:]

In [5]:
data_suicide.columns = ['Code', 'Département', 'Taux de suicide']

In [6]:
data_suicide['Taux de suicide'] = pd.to_numeric(data_suicide['Taux de suicide'])

In [7]:
data_suicide.sort_values(by='Taux de suicide')

    Code                        Département  Taux de suicide
103  976                            Mayotte             10.3
98   971                         Guadeloupe             20.6
100  973                             Guyane             37.1
33    31                      Haute-Garonne             52.4
30    2A                       Corse-du-Sud             56.8
..   ...                                ...              ...
64    62                      Pas-de-Calais            269.4
82    80                              Somme            407.6
102  975  Miquelon-Langlade et Saint Pierre              NaN
104  977                   Saint-Barthélemy              NaN
105  978                       Saint-Martin              NaN

[104 rows x 3 columns]

In [8]:
data_suicide["Rank"] = data_suicide["Taux de suicide"].rank()

In [9]:
data_suicide

    Code                        Département  Taux de suicide  Rank
2     01                                Ain            110.5  25.0
3     02                              Aisne            224.1  91.0
4     03                             Allier            161.8  53.0
5     04            Alpes-de-Haute-Provence            145.5  44.0
6     05                       Hautes-Alpes            144.5  42.0
..   ...                                ...              ...   ...
101  974                            Réunion            141.9  40.0
102  975  Miquelon-Langlade et Saint Pierre              NaN   NaN
103  976                            Mayotte             10.3   1.0
104  977                   Saint-Barthélemy              NaN   NaN
105  978                       Saint-Martin              NaN   NaN

[104 rows x 4 columns]