In [1]:
import pandas as pd

### Niveau de vie

In [25]:
data = pd.read_excel('/Users/felita/Library/Mobile Documents/com~apple~CloudDocs/Documents/Data/revenu.xlsx', 'DEP')

In [26]:
data

,Fichier Localisé Social et Fiscal (FiLoSoFi) - Année 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,"France métropolitaine, Martinique et La Réunio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mise en ligne le 16/06/2020 Géographie a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,©Insee Source(s) : Insee-DGFIP-Cnaf-Cnav...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Code géographique,Libellé géographique,Nombre de ménages fiscaux,Nombre de personnes dans les ménages fiscaux,Médiane du niveau de vie (€),Part des ménages fiscaux imposés (%),Taux de pauvreté-Ensemble (%),Taux de pauvreté-moins de 30 ans (%),Taux de pauvreté-30 à 39 ans (%),Taux de pauvreté-40 à 49 ans (%),...,"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres reven...,Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%),1er décile du niveau de vie (€),9e décile du niveau de vie (€),Rapport interdécile 9e décile/1er décile
4,CODGEO,LIBGEO,NBMENFISC17,NBPERSMENFISC17,MED17,PIMP17,TP6017,TP60AGE117,TP60AGE217,TP60AGE317,...,PPEN17,PPAT17,PPSOC17,PPFAM17,PPMINI17,PPLOGT17,PIMPOT17,D117,D917,RD17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,93,Seine-Saint-Denis,584142,1582570,17310,47.9,27.9,30.4,29.2,32.4,...,19.5,5.6,10,3.8,3.5,2.7,-16,8780,33120,3.8
99,94,Val-de-Marne,553209,1347902,22290,62.3,16.3,21.3,17.8,19,...,21.8,8.6,5.1,2.1,1.7,1.3,-20.5,10560,43530,4.1
100,95,Val-d'Oise,456272,1238601,21470,59.9,16.6,20.7,18.7,19.5,...,22.1,6.8,5.9,2.8,1.7,1.4,-18.1,10590,38410,3.6
101,972,Martinique,149275,336780,17580,34,28.6,46.9,33.6,31.6,...,23.5,5.4,11.9,2.7,7,2.2,-13.3,8710,36740,4.2
102,974,La Réunion,316435,871868,15020,28.1,38.3,52.3,41.5,40.2,...,15.1,6.5,16.5,4.5,8.6,3.4,-12.6,8100,35510,4.4

- Virer les 4 premieres lignes vides

In [31]:
taux_pauvrete = data.iloc[3:, :]
taux_pauvrete

,Fichier Localisé Social et Fiscal (FiLoSoFi) - Année 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
3,Code géographique,Libellé géographique,Nombre de ménages fiscaux,Nombre de personnes dans les ménages fiscaux,Médiane du niveau de vie (€),Part des ménages fiscaux imposés (%),Taux de pauvreté-Ensemble (%),Taux de pauvreté-moins de 30 ans (%),Taux de pauvreté-30 à 39 ans (%),Taux de pauvreté-40 à 49 ans (%),...,"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres reven...,Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%),1er décile du niveau de vie (€),9e décile du niveau de vie (€),Rapport interdécile 9e décile/1er décile
4,CODGEO,LIBGEO,NBMENFISC17,NBPERSMENFISC17,MED17,PIMP17,TP6017,TP60AGE117,TP60AGE217,TP60AGE317,...,PPEN17,PPAT17,PPSOC17,PPFAM17,PPMINI17,PPLOGT17,PIMPOT17,D117,D917,RD17
5,01,Ain,256670,619078,22640,54.1,10.5,14.9,12,11.9,...,25.2,8.7,4,2,1.1,0.9,-16,12460,42680,3.4
6,02,Aisne,222104,518441,19100,44.3,18.5,29.7,22.7,21.8,...,30.7,8.2,7.6,2.9,2.9,1.8,-14.2,10440,32130,3.1
7,03,Allier,158099,329200,19750,44.3,15.4,25.3,19.4,18.8,...,37.6,10.3,6.4,2,2.8,1.6,-14.6,11070,32880,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,93,Seine-Saint-Denis,584142,1582570,17310,47.9,27.9,30.4,29.2,32.4,...,19.5,5.6,10,3.8,3.5,2.7,-16,8780,33120,3.8
99,94,Val-de-Marne,553209,1347902,22290,62.3,16.3,21.3,17.8,19,...,21.8,8.6,5.1,2.1,1.7,1.3,-20.5,10560,43530,4.1
100,95,Val-d'Oise,456272,1238601,21470,59.9,16.6,20.7,18.7,19.5,...,22.1,6.8,5.9,2.8,1.7,1.4,-18.1,10590,38410,3.6
101,972,Martinique,149275,336780,17580,34,28.6,46.9,33.6,31.6,...,23.5,5.4,11.9,2.7,7,2.2,-13.3,8710,36740,4.2
102,974,La Réunion,316435,871868,15020,28.1,38.3,52.3,41.5,40.2,...,15.1,6.5,16.5,4.5,8.6,3.4,-12.6,8100,35510,4.4

- Selectionner colonnes **Code géographique** + **Libellé Géographique** + **Taux de Pauvreté Ensemble (%)**

In [34]:
taux_pauvrete = taux_pauvrete.iloc[:, [0, 1, 6]]

- Renommer les colonnes

In [36]:
taux_pauvrete.columns = ['Code', 'Département', 'Taux de pauvreté']
taux_pauvrete

                  Code           Département               Taux de pauvreté
3    Code géographique  Libellé géographique  Taux de pauvreté-Ensemble (%)
4               CODGEO                LIBGEO                         TP6017
5                   01                   Ain                           10.5
6                   02                 Aisne                           18.5
7                   03                Allier                           15.4
..                 ...                   ...                            ...
98                  93     Seine-Saint-Denis                           27.9
99                  94          Val-de-Marne                           16.3
100                 95            Val-d'Oise                           16.6
101                972            Martinique                           28.6
102                974            La Réunion                           38.3

[100 rows x 3 columns]